// 1.Font uses


$rubik:  "Rubik", sans-serif;
$roboto:  "Roboto Flex", sans-serif;

// Color Use


$white: #fff;
$black: #000000;
$primary: #0055A7;
$secondary: #F2932F;
$gray: #424242;
$border: #D6E4F1;

